<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}{% endblock %}
  <title>{{ data['title'] }}</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>CodingDojo Wall</h1>
      <div class="nav">
        {% if session['user_name'] %}
          Welcome {{ session['user_name'] }}
          <a href="/logout">Log Off</a>
        {% endif %}
      </div>
    </div>
    {% block body %}{% endblock %}
  </div>
</body>
</html>